<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <appender name="SocketAppender" type="log4net.Appender.SocketAppender,log4net.Appender.SocketAppender">
    <RemoteAddress value="198.216.3.173" />
    <RemotePort value="5004" />
    <AddressFamily value="InterNetwork" />
    <SocketType value="Stream" />
    <ProtocolType value="Tcp" />
    <DebugMode value="True"/>
    <ConAttemptsCount value="5" />
    <ConAttemptsWaitingTimeMilliSeconds value="3000" />
    <UseThreadPoolQueue value="false" />
    <layout type="log4net.Layout.PatternLayout, log4net">
      <conversionPattern value="{&quot;LogType&quot;:&quot;IoTHub.Log&quot;,&quot;AppName&quot;:&quot;%property{AppName}&quot;,&quot;AppFullName&quot;:&quot;%property{AppFullName}&quot;,&quot;Version&quot;:&quot;%property{Version}&quot;&quot;host&quot;:&quot;%property{HostIP}&quot;,&quot;LogLevel&quot;:&quot;%level&quot;,&quot;@timestamp&quot;:&quot;%date{ISO8601}&quot;,&quot;Logger&quot;:&quot;%logger&quot;,&quot;message&quot;:&quot;%message&quot;}" />
    </layout>
  </appender>
  <appender name="ElasticSearchAsyncAppender" type="log4net.ElasticSearch.Async.ElasticSearchAsyncAppender, log4net.ElasticSearch.Async">
    <!-- for .NET 40 <appender name="ElasticSearchAsyncAppender" type="log4net.ElasticSearch.Async.ElasticSearchAsyncAppender, log4net.ElasticSearch.Async.Net40">-->
    <connectionString value="Scheme=http;
                           Server=198.216.3.173;
                           Port=9200;
                           Index=log-IotHub;
                           Rolling=true;
                           SkipCertificateValidation=true;
                           SkipProxy=true;
                           HttpDefaultConnectionLimit=30;
                           Pipeline=auto-timestamp;
                           GzipCompression=true;
                           " />
    <maxRetries>10</maxRetries>
    <retrySeedDelay>00:00:05</retrySeedDelay>
    <retryMaxDelay>00:05:00</retryMaxDelay>
    <onCloseTimeout>00:00:10</onCloseTimeout>
    <externalIpCheckAddress>8.8.8.8</externalIpCheckAddress>
    <flushTriggerBufferSize>256</flushTriggerBufferSize>
    <rollingBufferSize>2048</rollingBufferSize>
  </appender>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
    </layout>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="SocketAppender" />
  </root>
</log4net>